<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/styles_product_cart.css">
    <title>Carrito</title>
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <main>
    </main>
</body>
<footer>
    <%- include('../partials/footer.ejs') %>
</footer>
</html>