<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/styles_register.css">
    <title>Creación de Producto</title>
</head>

<body>
    <header>
        <%- include('./partials/header.ejs') %>
    </header>
    <main>
        <div class="main-container">
            <form class="form-create-product" action="#" method="post">
                <h1 class="title">Creación de Producto</h1>
                <div class="input-field">
                    <label for="product-name">Nombre de producto</label>
                    <i class="fa-sharp fa-solid fa-box"></i><input type="text" name="product-name" id="product-name"
                        minlength="3" required>
                </div>

                <div class="input-field-small">
                    <label for="product-price">Precio</label>
                    <i class="fa-solid fa-dollar-sign"></i><input type="number" name="product-price" id="product-price" required>
                </div>

                <div class="input-field-small">
                    <label for="product-quantity">Cantidad</label>
                    <i class="fa-solid fa-plus-minus"></i><input type="number" name="product-quantity"
                        id="product-quantity" required>
                </div>

                <div class="input-field-small">
                    <label>Categoria</label>
                    <select name="category" class="select-category" required>
                        <option value="cat1">Categoria 1</option>
                        <option value="cat2">Categoria 2</option>
                        <option value="cat3">Categoria 3</option>
                        <option value="cat4">Categoria 4</option>
                    </select>
                </div>

                <div class="input-img">
                    <label for="img">Agregar imágenes del producto</label>
                    <input type="file" name="product-img" accept=".jpg" multiple class="file-option" required>
                </div>

                <div class="input-field">
                    <label for="product-description">Descripción del producto</label>
                    <textarea name="product-description" id="product-description" maxlength="300"
                        placeholder="Escribir la descripción del producto, máximo de 300 caracteres" required></textarea>
                </div>

                <div class="container-buttons">
                    <button type="submit">CREAR</button>
                    <button type="reset">LIMPIAR</button>
                </div>
            </form>
        </div>
    </main>

    <footer>
        <%- include('./partials/footer.ejs') %>
    </footer>

</body>

</html>