<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header-div-logo">
            <img class="img-logo" src="/images/Rocket-Music.svg" alt="imagen-logo" style="width:40px;height:40px">
        </div>
    </header>
    <main>
        <div class="main-container">
            <h1>Inicie Sesion</h1>
            <form class="main-container-form" action="" method="post">
                <input type="text" name="user" id="user" placeholder="Ingresar usuario">
                <input type="password" name="pass" id="pass" placeholder="Ingresar password">
                <label for="remember">Recordarme</label>
                <input type="checkbox" name="remember" id="chk-remember">
                <button type="submit">Iniciar Sesion</button>
            </form>
            <div class="main-container-access-with">
                <h2>Acceda con:</h2>
                <a href="#">Google</a>
                <a href="#">Feisbuk</a>
            </div>
            <div class="main-container-forgot-create">
                <a>Olvido su contraseña</a>  <!-- Al hacer click aparecería un pop-up -->
                <a href="#">Crear una cuenta</a>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-icons">
            <a href="#" class="footer-icon">facebook</a>
            <a href="#" class="footer-icon">instagram</a>
            <a href="#" class="footer-icon">youtube</a>
            <a href="#" class="footer-icon">twitter</a>
            <a href="#" class="footer-icon">spotify</a>
        </div>
    </footer>
</body>
</html>