<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles_navbar.css">
        <link rel="stylesheet" href="/css/styles_footer.css">
        <!-- jQuery 1.8 or later, 33 KB -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://kit.fontawesome.com/14d8ab3f7b.js" crossorigin="anonymous"></script>
        <!-- Fotorama from CDNJS, 19 KB -->
        <link  href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
        <link rel="stylesheet" href="/css/styles_index.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/styles_productDetail.css">
        <link rel="stylesheet" href="/css/styles_header.css">
        <title>Document</title>
    </head>
<body>
    <header>
        <div class="header-top">
            <div class="header-div-logo"> 
                <img class="img-logo" src="/images/Rocket-Music.svg" alt="imagen-logo" style="width:40px;height:40px">
            </div>
            <span>
                <i class="fa-solid fa-compact-disc"></i>Ponele música a tu vida
            </span>
            <div class="header-user">
                <ul>
                    <li>
                        <a href="/login">
                        <button id="login-signin"><i class="fa-solid fa-user"></i></button>
                        </a>
                    </li>
                    <li>
                        <a href="/productCart">
                        <button id="cart"><i class="fa-solid fa-cart-shopping"></i></button>
                        </a>
                    </li>
                    <!-- Este boton se va a modificar con JS para Loguin / Iniciar Sesión -->
                </ul>
            </div>
        </div>
        <div class="header-bottom">
            <a href="#" class="bars-button"><i class="fa-solid fa-bars"></i></a>
            <nav class="header-nav-bar">
                <ul>
                    <li><a href="#" id="artist">Artistas</a></li>
                    <li><a href="#" id="shop">Tienda</a></li>
                    <li><a href="#" id="contact">Contacto</a></li>
               </ul>
            </nav>
            <ul class="header-search-bar">
                <li><input type="search" name="search-bar" id="search-bar" placeholder="Buscar en la tienda"></li>
                <li><button id="btn-search"><i class="fa-solid fa-magnifying-glass"></i></button></li>
                <!-- Mobile + Tablet : Apretar el boton para aparecer la barra de search -->
            </ul>
        </div>
    </header>
    <main>
        <div>
        <!-- Esto va a ser un GRID -->
        <!-- LADO IZQUIERDO : fotorama con carrousel -->
        <!-- LADO DERECHO: Todos los datos se deberan traer de la bd -->
        <div class="grid-container">
            <div class="grid-item">
                <div class="main-carrousel fotorama data-transition="slide" data-clicktransition="crossfade"">
                    <img src="/images/vinilo1.jpg" alt="">
                    <img src="/images/vinilo2.jpg" alt="">
                    <img src="/images/vinilo3.jpg" alt="">
                </div>  
            </div>
            <div class="grid-item">
                <div class="main-grid-product-detail">      
                    <h2>Nombre de producto</h2>
                    <br>
                    <ul>
                        <li id="price">Precio <input class="input-data" name="price" id="input-price" placeholder="20 USD" readonly=»readonly» ></li>
                        <br>
                        <li id="quantity">Cantidad <input class="input-data" type="number" name="quantity" id="input-quantity" placeholder="Ingrese una cantidad"></li>
                        <br>
                        <li id="delivery-date">Fecha estimada de entrega <input class="input-data" name="delivery-date" id="input-delivery-date" placeholder="Junio 2023" readonly=»readonly» ></li>
                    </ul>
                </div>
        
                <div class="line-separator"></div>
                <div class="main-grid-product-description">
                    <br>
                    <p>Descripcion</p> <!-- Se trae de la bd -->
                    <p>Una descripcion detallada del producto, medidas, peso, color, año, banda, talla, etc.</p>
                </div>
                <br>
                <div class="main-grid-product-add">
                    <button class="submit"><a href=""></a> Agregar al carrito <i class="fa-solid fa-cart-shopping"> </i></button>  <!-- traer el icono -->
                </div>
            </div>
          </div>

        <div class="main-title">
            <h2>Productos relacionados</h2>
        </div>

          <div class="related-products">
            <div><img class="zoom" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/jeremiah-wilson-1.jpg" alt></div>
            <div><img class="zoom" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/jeremiah-wilson-2.jpg" alt></div>
            <div><img class="zoom" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/jeremiah-wilson-1.jpg" alt></div>
            <div><img class="zoom" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/jeremiah-wilson-2.jpg" alt></div>
            <div><img class="zoom" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/jeremiah-wilson-1.jpg" alt></div>
        </div>


    </main>

    <footer>
		<div class="footer-copy-redes">
			<div class="main-copy-redes">
				<div class="footer-copy">
					&copy; 2023, Todos los derechos reservados.
				</div>
				<div class="footer-redes">
                   
					<div class="zoom"><a href="#" class="fa fa-facebook"></a></div>
					<div class="zoom"><a href="#" class="fa fa-twitter"></a></div>
					<div class="zoom"><a href="#" class="fa fa-youtube-play"></a></div>
					<div class="zoom"><a href="#" class="fa fa-github"></a></div>
				</div>
			</div>
		</div>
    </footer> 
</body>
</html>