*{
    padding: 0;
    margin: 0;
}


/*Carrousel*/
.main-carrousel{
    height: 100%;
    display: flex;
    justify-content: center;
}
.main-title{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.70rem;
}

/*Gallery Image Classes*/
.main-artist-collection { 
    padding: .5vw;
    font-size: 0;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-direction: column;
    -webkit-flex-flow: row wrap; 
    flex-flow: row wrap; 
    display: -webkit-box;
    display: flex;
  }
  .main-artist-collection div { 
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto; 
    width: 200px; 
    margin: .5vw; 
  }
  .main-artist-collection div img { 
    width: 100%; 
    height: auto; 
  }
  
  @media screen and (max-width: 400px) {
    header div { margin: 0; }
    header { padding: 0; }
  }




/*Tablet*/ 
@media (min-width: 361px){
    .main-title{
        font-size: 0.90rem;
    }
}

/*Desk*/
@media (min-width: 769px){
    .main-title{
        font-size: 1rem;
    }
}

.zoom {
    transition: transform .2s; 
}
 
.zoom:hover {
    transform: scale(1.1); 
}
