*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.main-container {

    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('https://www.unidiversidad.com.ar/cache/recitales-cultura_1000_1100.jpg');
    background-size: cover;

}

.form {

    position: relative;
    max-width: 600px;
    width: 100%;
    background: #0b1320;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.title {

    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-top: 30px;
    color: #f3f6fa;
}

.form .form-login {

    padding: 30px;
}

.form .input-field {

    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

.input-field input{

    position: absolute;
    height: 75%;
    width: 100%;
    padding: 0 35px;
    border-radius: 30px;
    outline: none;
    font-size: 15px;
    transition: all 0.2s ease;
    
}

.input-field i {

    position: absolute;
    top: 37%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 17px;
}

.input-field input:is(:focus){

    border-color: yellow; /*A CAMBIAR*/
}

.form .checkbox-text{

        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        color: #f3f6fa;
}

.checkbox-text .checkbox-content {

    display: flex;
    align-items: center;
    
}

.checkbox-content input{

    margin: 0 8px -2px 4px;
    accent-color: red; /*A CAMBIAR*/
    width: 15px;
    height: 15px;
}

.form .login-button {

    text-align: center;
    
    
}

.form .login-button button {

    border: #afc1d0;
    border-radius: 5px;
    height: 30%;
    width: 15%;
    color: #f3f6fa; /*CAMBIAR EL COLOR */
    font-size: 18px;
    letter-spacing: 1px;
    background-color: #afc1d0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form .main-container-access-with {

    margin-top: 30px;
    text-align: center;
    color: #f3f6fa;
    font-size: 25px;
}

.main-container-access-with .container-access-icons {

    justify-content: space-around;
    margin: auto;
    display: flex;
    width: 40%;
    margin-top: 20px;
    font-size: 20px;
    
}


.form .main-container-forgot-create {

    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 50px;
    color: #f3f6fa;
}

.form a{

    text-decoration: none;
    color: #f3f6fa;
}

.form a:hover {

    text-decoration: underline;
}

@media (max-width: 400px) {
    
    .main-container {

        height: 130vh;
    }
    
    .form {

        width: 83%;
    }

    .input-field {
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }
}


@media (min-width: 400px) {

    .main-container {

        height: 130vh;
    }

    .form {

        width: 83%;
    }
}


@media (min-width: 769px) {
    .form {
        width: 83%;
    }
}