*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

main{
    height: 100vh;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

.container-product-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

/*Gallery Image Classes*/
.main-artist-collection { 
    padding: .5vw;
    font-size: 0;
    display: -ms-flexbox;
    flex-wrap: wrap;
    flex-direction: column;
    -webkit-flex-flow: row wrap; 
    flex-flow: row wrap; 
    display: -webkit-box;
    display: flex;
    background-color: green;
    max-width: 400px;
  }
.main-artist-collection div { 
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto; 
    width: 200px; 
    margin: .5vw; 
  }
.main-artist-collection div img { 
    max-width: 400px; 
    height: auto; 
  }

main section div.products article{
        width: 22%;
}