/*
#0B1320 Navbar / Footer
#F3F6FA Tipografia / Iconos footer
#00004D Boton seleccionado del Carrusel
#AFC1D0 Boton sin seleecionar del Carrusel
#F3F6FA Fondo
*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}

/*-- header.ejs --*/
header {
    background-color: #0B1320;
}
.img-logo{
    width:80px;
    height:80px;
}
.logo{
    display:inline-block;
}
.icon{
    position: absolute;
    top : 11px;
    left : 15px;
}
header .search-bar{
    position: relative;
    width: 100%;
}
header .search-bar input{
    width: 100%;
    border: none;
    height: 50px;
    width: auto;
    border-radius: 100px;
    padding: 0 20px 0 40px;
}
header .menu a{
    display: inline-block;
    padding: 20px 40px;
}
header .menu a:hover{
    color:#F3F6FA;
    background-color: #AFC1D0;
    border-radius: 8px;
}
header .menu a svg{
    width: 35px;
    height: 35px;
}
header .profile-btns a{
    background-color: white;
    display: inline-flex;
    border-radius: 100px;
    min-width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    margin-left: 7px;
}
header .profile-btns a svg{
    width: 30px;
    height: 30px;
}

header .profile-btns a:hover{
    background: #4b4d4e;
    color: #F3F6FA;
}
header .profile-btns .profile{
    height: 40px;
    padding: 0 7px;
    background: none;
    min-width: max-content;
}
header .profile-btns .profile img{
    width: 30px;
    height: 30px;
    border-radius: 100px;
    margin-right: 5px;
}

@media screen and (max-width: 992px){
    header{
        padding: 10px 20px;
    }
    .menu{
        margin-top:10px;
    }
}
@media screen and (max-width: 1200px){
    header .menu a{
        padding: 10px 20px;
    }
}

/*-- index.ejs --*/
.shop-container{
    margin: 50px 0px 50px 0px;
}
.shop div{
    background-color: #F3F6FA;
    padding: 30px;
}
.new-product{
    width: 20rem;
}
.artist-container{
    display: flex;
    position: relative;
    margin:0px;
}
.artist-img:hover{
    box-shadow: 0px 0px 20px rgb(100, 100, 100); 
}
.artist-name{
    display:none;
    position: absolute;
    left: 20px;
    bottom: 5px;
}
.artist-name p{
    margin-bottom: 0px;
}
.artist-img:hover .artist-name{
    display: block;
}

/*index.ejs*/


/*index.ejs*/


/*index.ejs*/