* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

p{

    font-size: 18px;
}

main {
    display: flex;
    flex-wrap: wrap;
}
h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 48px;
}

.contact-content {
    width: 100%;
    margin-bottom: 2rem;
}

.contact-form-container{

    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-form {
    width: 100%;
    background-color: #0b1320;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    text-align: center;
}
.contact-form h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #f3f6fa;
}
.input-field {
    display: flex;
    margin-bottom: 1.5rem;
}
.input-field i {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.input-field input[type="text"],
.input-field input[type="email"],
.input-field input[type="tel"] {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.contact-text-area {
    margin-bottom: 1.5rem;
}
.contact-text-area textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.contact-container-button {
    display: flex;
    justify-content: center;
}
.contact-container-button button {
    border: #afc1d0;
    border-radius: 5px;
    height: 30%;
    width: 22%;
    color: #f3f6fa;
    font-size: 18px;
    letter-spacing: 1px;
    background-color: #afc1d0;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 150px;
    padding: 5px;
    margin-top: 10px;
}
.contact-container-button button:hover {
    background-color: #00004d;
}
.contact-data {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.contact-data-div {
    text-align: center;
}
.contact-data-div .icon-box {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-data-div .icon-box .inner i {
    font-size: 1.5rem;
    color: #fff;
}

.contact-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-data-div {
    width: calc(100% / 3 - 20px);
    text-align: center;
}

@media(max-width: 768px) {
    
    .contact-data-div {
        width: 100%;
        margin-top: 1rem;
    }

    .contact-form{

        max-width: 95%;
    }

}

@media(min-width: 768px){

    .contact-form{

        margin-left: 2rem;
        max-width: 60%;
    }
}

