/*
#0B1320 Navbar / Footer
#F3F6FA Tipografia / Iconos footer
#00004D Boton seleccionado del Carrusel
#AFC1D0 Boton sin seleecionar del Carrusel
#F3F6FA Fondo
*/

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

header{
    font-family: 'Times New Roman', Times, serif;
    color:#F3F6FA;
    background-color: #0B1320;
}

/*ROW UP*/
.header-top{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.header-div-logo{
    padding: 5px;
}
.header-top span{
    margin:auto;
    display: none;
}
.header-top span i{
    display: none;
}
.header-user{
    align-self: center;
    padding-right: 5px;
}
.header-user ul{
    list-style: none;
    display: block;
}
.header-user li{
    display: inline-block;
}
.header-user button{
    height: 40px;
    width: 40px;
    border-radius: 8px;
    color: #F3F6FA;
    background-color: #AFC1D0 ;
}


/*ROW BOTTOM*/
.header-bottom{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    min-height: 50px;
}
.bars-button{
    display: block;
    color:#F3F6FA;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 8px;
}
.header-nav-bar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
}
.header-nav-bar li{
    display: inline-block;
}
.header-nav-bar a{
    text-decoration: none;
    color: gray;
    padding: 5px 0;
    font-size: 17px;
}
.header-search-bar{
    align-self: center;
    padding-right: 5px;
}
.header-search-bar li{
    display: inline-block;
}
.header-search-bar input{
    display: none;
    height: 25px;
    width: 150px;
}
.header-search-bar button{
    height: 40px;
    width: 40px;
    border-radius: 8px;
    color: #F3F6FA;
    background-color: #0B1320;
}


/*TABLET*/
@media(min-width: 768px) {
    /*ROW UP*/
    .header-top span{
        display:inline;
        font-size: 25px;
    }
    .header-top span i{
        display:inline;
        margin-right: 10px;
        font-size: 25px;
    }
    .bars-button{
        display: none;
    }
    .header-nav-bar{
        align-self: center;
    }
    .header-nav-bar ul{
        list-style: none;
        margin: 0;
        padding: 0;
        display: inline;
    }
    .header-nav-bar a{
        padding: 15px;
        font-size: 28px;
    }




    /*ROW BOTTOM*/
    .header-search-bar input{
        display: none;
        height: 25px;
        width: 250px;
    }
}


/*DESKTOP*/
@media(min-width: 1200px) {
    /*ROW BOTTOM*/

    /*ROW BOTTOM*/
    .header-search-bar input{
        display: inline;
        width: 400px;
    }
}