<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/styles_register.css">
    <title>Creación de Producto</title>
</head>

<body>
    <header>
        <%- include('./partials/header.ejs') %>
    </header>
<main>
    <div class="main-container">
   
        <div class="form">
            <h1 class="title">Creación de Producto</h1>
            <form class="form-register" action="#" method="post">
                <div class="input-field">
                    <label for="product-name">Nombre de producto</label>
                    <input type="text" name="product-name" id="product-name" minlength="3">
                    <i class="fa-solid fa-record-vinyl icon-form"></i> <!-- CAMBIAR ICONOS -->
                </div>
                
                <div class="input-field">
                    <label for="product-price">Precio</label>
                    <input type="number" name="product-price" id="product-price">
                    <i class="fa-regular fa-envelope"></i>
                </div>
                
                <div class="input-field">
                    <label for="product-quantity">Cantidad</label>
                    <input type="number" name="product-quantity" id="product-quantity">
                    <i class="fa-solid fa-lock"></i>
                </div>
        
                <div class="input-date">
                    <label for="category">Categoria</label>
                    <select name="color">
                        <option value="cat1">Categoria 1</option>
                        <option value="cat2">Categoria 2</option>
                        <option value="cat3">Categoria 3</option>
                        <option value="cat4">Categoria 4</option>
                        </select>
                </div>

                <div class="input-date">
                    <label for="img">Agregar imágenes del producto</label>
                    <input type="file" name="product-img" accept=".jpg" multiple>
                </div>

                <div class="input-date">
                    <label for="product-description">Descripción del producto</label>
                    <textarea name="product-description" id="product-description" maxlength="300" placeholder="Escribir la descripción del producto, máximo de 300 caracteres"></textarea>
                </div>

                <div class="register-button">
                    <button type="submit">CREAR</button>
                    <button type="reset">LIMPIAR</button>
                </div>
            </form>
        </div>
    </div>
</main>
    
<footer>
    <%- include('./partials/footer.ejs') %>
</footer> 

</body>

</html>