
    <div class="footer-copy-redes">
        <div class="main-copy-redes">
            <div class="footer-copy">
                &copy; 2023, Todos los derechos reservados.
            </div>
            <div class="footer-redes">
               
                <div class="zoom"><a href="#" class="fa fa-facebook"></a></div>
                <div class="zoom"><a href="#" class="fa fa-twitter"></a></div>
                <div class="zoom"><a href="#" class="fa fa-youtube-play"></a></div>
                <div class="zoom"><a href="#" class="fa fa-github"></a></div>
            </div>
        </div>
    </div>


