<div class="header-top">
            <div class="header-div-logo"> 
                <a href="/"><img class="img-logo" src="/images/Rocket-Music.svg" alt="imagen-logo"></a>
            </div>
            <span>
                <i class="fa-solid fa-compact-disc"></i>Ponele música a tu vida
            </span>
            <div class="header-user">
                <ul>
                    <li>
                        <a href="/login">
                        <button id="login-signin"><i class="fa-solid fa-user"></i></button>
                        </a>
                    </li>
                    <li>
                        <a href="/productCart">
                        <button id="cart"><i class="fa-solid fa-cart-shopping"></i></button>
                        </a>
                    </li>
                    <!-- Este boton se va a modificar con JS para Loguin / Iniciar Sesión -->
                </ul>
            </div>
        </div>
        <div class="header-bottom">
            <a href="#" class="bars-button"><i class="fa-solid fa-bars"></i></a>
            <nav class="header-nav-bar">
                <ul>
                    <li><a href="/artist" id="artist">Artistas</a></li>
                    <li><a href="/shop" id="shop">Tienda</a></li>
                    <li><a href="/contact" id="contact">Contacto</a></li>
               </ul>
            </nav>
            <ul class="header-search-bar">
                <li><input type="search" name="search-bar" id="search-bar" placeholder="Buscar en la tienda"></li>
                <li><button id="btn-search"><i class="fa-solid fa-magnifying-glass"></i></button></li>
                <!-- Mobile + Tablet : Apretar el boton para aparecer la barra de search -->
            </ul>
</div>

