
<div class="header-top">
    <div class="header-div-logo"> 
        <a href="/"><img class="img-logo" src="../public/images/Rocket-Music.svg" alt="imagen-logo"></a>
    </div>
    <span>
        <i class="fa-solid fa-compact-disc"></i>Ponele música a tu vida
    </span>
    <div class="header-user">
        <ul>
            <li>
                <a href="/src/views/login.ejs">
                <button id="login-signin"><i class="fa-solid fa-user"></i></button>
                </a>
            </li>
            <li>
                <a href="/src/views/productCart.ejs">
                <button id="cart"><i class="fa-solid fa-cart-shopping"></i></button>
                </a>
            </li>
            <!-- Este boton se va a modificar con JS para Loguin / Iniciar Sesión -->
        </ul>
    </div>
</div>

