<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/styles_register.css">
    <title>Perfil de usuario</title>
</head>

<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <main>
        <div class="main-container">
            <form class="form-create-product" action="#" method="post">
                <h1 class="title">Editar perfil de usuario</h1>

                <div class="input-field">
                <label for="rounded-image">Foto de perfil</label>
                    <div class="rounded-image">
                        <img src="images/profile-default.png"/>
                     </div>              
                </div>


                <div class="input-img">
                    <input type="file" name="user_image" id="user_image" accept=".jpg" multiple class="file-option" required>
                </div>

                <div class="input-field">
                    <label for="user_name">Nombre</label>
                    <i class="fa-solid fa-user"></i><input type="text" name="user_name" id="user_name"
                        minlength="3" required>
                </div>

                <div class="input-field">
                    <label for="user_username">Nombre de usuario</label>
                    <i class="fa-solid fa-user"></i><input type="text" name="user_username" id="user_username"
                        minlength="3" required>
                </div>

                <div class="input-field">
                    <label for="user_email">Correo electronico</label>
                    <i class="fa-solid fa-envelope-circle-check"></i><input type="text" name="user_email" id="user_email"
                        minlength="3" required>
                </div>


                <div class="input-field">
                    <label for="user_password">Contraseña</label>
                    <i class="fa-solid fa-list"></i><input type="password" name="user_password" id="user_password"
                        minlength="3" required>
                </div>

                <div class="input-field">
                    <label for="user_address">Ingrese la dirección de su domicilio</label>
                    <i class="fa-solid fa-list"></i><input type="text" name="user_address" id="user_address"
                        minlength="3">
                </div> 

                <div class="input-field-small">
                    <label>Categoria del usuario</label>
                    <select name="category" class="select-category" required>
                        <option value="cat1">Administrador</option>
                        <option value="cat2">Cliente</option>
                    </select>
                </div>                

                <div class="container-buttons">
                    <button type="submit">EDITAR PERFIL</button>
                </div>
            </form>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>

</body>

</html>