<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/styles_login.css">
    <title>Login</title>
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <main>
        <div class="main-container">
   
            <div class="form">
    
                <h1 class="title">Ingrese sus datos</h1>
    
                <form class="form-login" action="/login" method="post">
                    <div class="input-field">
                        <input type="text" name="user" id="user" placeholder="Nombre de usuario" required>
                        <i class="fa-regular fa-user"></i>
                    </div>
                    
                    <div class="input-field">
                        <input type="password" name="pass" id="pass" placeholder="Contraseña" required>
                        <i class="fa-solid fa-lock"></i>
                        <!--Agregar icono para mostrar/ocultar contraseña-->
                    </div>

                    <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input type="checkbox" id="rememberme" name="rememberme">
                            <label for="rememberme" class="text">Recuerdame</label>

                        </div>

                    </div>

                    <div class="login-button">
                        <button type="submit">Ingresar</button>
                    </div>
            
            <div class="main-container-access-with">
                <h3>Acceda con:</h3>
                    <div class="container-access-icons">
                        <a href="#" class="fa-brands fa-google"></a>
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                    </div>
            </div>
            
            <div class="main-container-forgot-create">
                <a>¿Olvido su contraseña?</a>  <!-- Al hacer click aparecería un pop-up -->
             <div>
                <a href="/createProfile">Crear una cuenta</a>
             </div>   
                
            </div>

                </form>
            </div>
        </div>  
    </main>
    
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>
</html>